.restart-popover {
  .button-container {
    text-align: center;
  }

  .button {
    font: 300 16px 'Signika', sans-serif;
    border: 0;
  }

  .no {
    text-decoration: underline;
    text-underline-offset: 4px;
    background: transparent;
    color: var(--text-color);

    &:focus {
      outline: 1px solid var(--text-color);
    }
  }

  .yes {
    background-color: var(--success-green);
    color: var(--success-text);
    margin-right: 8px;
    padding: 8px 16px;
  }
}
