.restart-popover {
  .button-container {
    text-align: center;
  }

  .no {
    text-decoration: underline;
    text-underline-offset: 4px;
    background: transparent;
    border: 0;

    &:focus {
      outline: 1px solid black;
    }
  }

  .yes {
    background-color: #2ad57b;
    border: 0;
    color: white;
    margin-right: 8px;
    padding: 8px 16px;
  }
}
