.restart-popover {
  .button-container {
    text-align: center;
  }

  .button {
    font: 300 16px 'Signika', sans-serif;
    border: 0;
  }

  .no {
    text-decoration: underline;
    text-underline-offset: 4px;
    background: transparent;

    &:focus {
      outline: 1px solid black;
    }
  }

  .yes {
    background-color: #2ad57b;
    color: white;
    margin-right: 8px;
    padding: 8px 16px;
  }
}
