.card-game-card {
  position: absolute;
  width: var(--card-width);
  height: var(--card-height);
  background-color: var(--card-bg-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  padding: 0 2px;

  &.dragging {
    z-index: 1;
  }

  .card-image {
    width: 100%;

    svg {
      width: var(--card-width);
      height: var(--card-height);
    }
  }
}

.card-game-card-tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;

  .suit {
    height: 16px;
  }
}



