.card-game-play-again {
  width: 230px;

  .statistics {
    text-align: center;

    &:first-of-type {
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-top: 0;
    }
  }

  .button-container {
    text-align: center;
  }

  .button {
    font: 300 16px 'Signika', sans-serif;
    border: 0;
  }

  .no-button {
    text-decoration: underline;
    text-underline-offset: 4px;
    background: transparent;
    color: var(--text-color);
  }

  .yes-button {
    background-color: var(--success-green);
    color: var(--success-text);
    margin-right: 8px;
    padding: 8px 16px;

    &:hover {
      background-color: #21de84;
    }
  }
}
