.card-game-play-again {
  width: 230px;

  .button-container {
    text-align: center;
  }

  .button {
    font: 300 16px 'Signika', sans-serif;
    border: 0;
  }

  .no-button {
    text-decoration: underline;
    text-underline-offset: 4px;
    background: transparent;
  }

  .yes-button {
    background-color: #2ad57b;
    color: white;
    margin-right: 8px;
    padding: 8px 16px;

    &:hover {
      background-color: #21de84;
    }
  }
}
